###################
# Yarn 2 (no PnP) #
###################

.yarn/*
!.yarn/cache
.yarn/cache/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

####################

.idea
node_modules/
yarn-error.log
src/*.js
src/*.js.map
src/*.d.ts
